.wp-block-navigation {
    /* &.main-navigation{
        .wp-block-navigation-item__label{
			&:is(.wp-site-blocks:has(.entry-content > :first-child:not(.has-background, .wp-block-cover)) .wp-block-navigation-item__label){
				&:is(header:not(.scrolling) .wp-block-navigation-item__label) {
					color: var(--wp--preset--color--black);	
				}
			}
			&:is(body.single-project .wp-block-navigation-item__label),
			&:is(body.single-post .wp-block-navigation-item__label){
				&:is(header:not(.scrolling) .wp-block-navigation-item__label) {
					color: var(--wp--preset--color--light-grey) !important;	
				}
			}
        }

        ul.wp-block-navigation__container > li {
            padding: unset !important;
        }
    } */

    .wp-block-navigation-item__label{
        white-space: nowrap;
    }
	
	.wp-block-navigation-item__content{
		.wp-block-navigation-item__label{
			display: inline-block;
			transition-property: color, translate;
			transition-duration: 0.2s;
			transition-timing-function: ease;
            color:var(--wp--preset--color--primary);
		}
		
		&:hover{
			.wp-block-navigation-item__label{
				translate: 0 -3px 0;
                text-shadow: 1px 0 0 var(--wp--preset--color--primary);
			}
		}	
	}
}

header.wp-block-template-part.scrolling {
    @media only screen and (min-width: 992px) {
        .wp-block-navigation-item__content{
            .wp-block-navigation-item__label{
                color:var(--wp--preset--color--white);	
            }
            &:hover{
                .wp-block-navigation-item__label{
                    text-shadow: 1px 0 0 var(--wp--preset--color--white);
                }
            }
            
        }
    }
    .wp-block-button {
        .wp-block-button__link {
            background-color: var(--wp--preset--color--secondary);
            border-color: var(--wp--preset--color--secondary);
            color: var(--wp--preset--color--white);
            &::after{
                background-image: url("../../../images/arrow-white.svg");
            }
            &:hover {
                background-color: var(--wp--preset--color--white);
                border-color: var(--wp--preset--color--white);
                color: var(--wp--preset--color--primary);
                &::after{
                    background-image: url("../../../images/arrow-blue.svg");
                }
            }
        }
    }
}

.wp-block-navigation .top-navigation-wrapper {
    font-size:14px;
}

.site-footer {
    .wp-block-navigation {
        .wp-block-navigation-item__content{
            .wp-block-navigation-item__label{
                display: inline-block;
                transition-property: color, translate;
                transition-duration: 0.2s;
                transition-timing-function: ease;
                color:var(--wp--preset--color--white);
            }
            
            &:hover{
                .wp-block-navigation-item__label{
                    translate: 0 -3px 0;
                    font-weight:bold;
                }
            }	
        }
    }
}

.legal-block {
    border-top:1px solid var(--wp--preset--color--white);
    padding-top:var(--wp--preset--spacing--small-tertiary);
}

/* .mobile-menu-contact {

} */

/* header + * {
    margin-top:200px;
} */

