/* Adjust search input size */
.wp-block-search__inside-wrapper  {
    &:is(header .wp-block-search__inside-wrapper){
        height: 30px;
    }

    input{
        padding-left: 5px;
        padding-right: 5px;
    }
}

/* Adjust search icon */
.wp-block-search__button.has-icon {
    align-items: center;
    display: flex;
    justify-content: center;
    min-width: 20px;
    padding: 10px;

    &::before{
        content: "\e986";
        font-family: 'icomoon';
        font-size: var(--wp--preset--font-size--small-secondary);
    }

    svg{
        display: none;
    }
}

.wp-block-search.wp-block-search__button-only {
    position: relative;

    .wp-block-search__input{
        position: absolute;
        right: calc(100% + 10px);
        top: 50%;
        translate: 0 -50% 0;
    }

    .wp-block-search__button{
        max-width: unset;
        padding: 0;
    }
}

.wp-block-search__button-behavior-expand .wp-block-search__inside-wrapper {
    transition-duration: 0.3s;
}

.wp-block-search__inside-wrapper  {
    border:unset;
}

header .wp-block-search {

    .wp-block-search__input {
        display:none;
    }
    &:hover {
        .wp-block-search__input {
            display:block;
            font-size: var(--wp--preset--font-size--small-secondary);
        }
        .wp-block-search__inside-wrapper {
            border:1px solid var(--wp--preset--color--primary);
        }
    }
}

header .white-logo {
    display:none;
    width:140px;
    height:auto;
    a {
        display:block;
    }
}