/* Global styles */
:root {
    --breadcrumb-letter-spacing:2px;
}

.entry-content {
    > div {
        isolation: isolate;
        /* margin-block-start: 0 !important; */
    }

    &:not(.wp-block-post-content) {
        > * {
            margin: 0;
        }
    }
}

footer.wp-block-template-part{
    margin: 0;
}

iframe:not(.edit-site-visual-editor__editor-canvas){
    border-radius: 16px;
}

.hide-overflow{
    overflow: hidden;
}

/* Heading backgrounds */
.wp-block-heading {
    strong {
        background-color:var(--wp--preset--color--primary);
        color:var(--wp--preset--color--white);
        border-radius: 40px;
        padding:0 30px;
        font-weight:unset;
        white-space: nowrap;
        word-break: keep-all;
    }
    &.highlight-bold strong {
        background-color:var(--wp--preset--color--secondary);
        color:var(--wp--preset--color--white);
    }
}

.has-white-color .wp-block-heading {
    strong {
        background-color:var(--wp--preset--color--white);
        color:var(--wp--preset--color--primary);
        border-radius: 40px;
        padding:0 30px;
        font-weight:unset;
    }
    &.highlight-bold strong {
        background-color:var(--wp--preset--color--secondary);
        color:var(--wp--preset--color--white);
    }
}


/* Randoms */
.wp-block-heading.has-p-font-size + .has-custom-1-font-size {
    margin-top:var(--wp--preset--spacing--small-primary);
}
.increased-ls {
    letter-spacing: var(--breadcrumb-letter-spacing);
}
/* Can't add border radius inside media and text block */
.wp-block-columns {
    gap:var(--wp--preset--spacing--medium-tertiary)!important;
}
.wp-block-media-text__media img, .wp-block-columns img {
    outline:2px solid blue;
    border-radius: 16px;
    width:100%;
    height:auto;
}

.wp-container-core-group-is-layout-10 > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    max-width: 1100px;
    margin-left: auto !important;
    margin-right: auto !important;
}

/* Breadcrumbs */
.gspb-breadcrumbs {
    top:var(--wp--preset--spacing--medium-primary);
    left:0;
    text-transform: uppercase;
    font-size:14px;
    font-weight:bold;
    position: absolute;
    letter-spacing: var(--breadcrumb-letter-spacing);
}
.block-editor-iframe__body .gspb-breadcrumbs {
    display:block;
}
.gspb-breadcrumbs a:first-of-type {
    font-size:0;
}
.gspb-breadcrumbs a:first-of-type::before {
    display:block;
    width:22px;
    height:22px;
    content:url("../images/house.svg");
}
.wp-block-cover .gspb-breadcrumbs {
    top:var(--wp--preset--spacing--medium-primary);
    left:var(--wp--preset--spacing--medium-primary);
}
/* Breadcrumbs on white */
.isolated-breadcrumbs {
    top:var(--wp--preset--spacing--medium-primary);
    left:0;
    text-transform: uppercase;
    font-size:14px;
    gap:5px!important;
    letter-spacing: var(--breadcrumb-letter-spacing);
}
.isolated-breadcrumbs p:first-of-type a {
    display:block;
    width:22px;
    height:22px;
    content:url("../images/house-blue.svg");
}
.isolated-breadcrumbs .wp-block-post-title {
    font-weight:600;
}


/* Leaf graphic */
.leaf-bg {
    background-image: url("../images/leaf-graphic.webp");
    background-repeat:no-repeat;
    background-position:bottom right;
    background-size:50vh;
    &.leaf-small {
        background-size:20vh
    }
}
.leaf-bg-video {
    &::after {
        content: url("");
        background-image: url("../images/leaf-graphic-solid.webp");
        background-repeat:no-repeat;
        background-size:100%;
        background-position:bottom right;
        height: 50vh;
        width: 26vw;
        display: block;
        position: absolute;
        right: 0;
        bottom: 0;
        opacity:0.3;
        
    }
    &.smaller-leaf::after {
        height:40vh;
        width:20vw;
    }
}
    

/* Explore link */
.explore-arrow {
    letter-spacing:2px;
    width:100%;
    max-width:100%!important;
    position: absolute;
    bottom:var(--wp--preset--spacing--small-tertiary);
    ::after {
        content: url("../images/arrow-down.svg");
        display:block;
        width:20px;
        height:20px;
        margin:auto;
    }
}

/* Character widths */
.max-char-16 {
    max-width:16ch!important;
}
.max-char-20 {
    max-width:20ch!important;
}
.max-char-26 {
    max-width:26ch!important;
}
.max-char-36 {
    max-width:36ch!important;
}
.max-char-46 {
    max-width:46ch!important;
}
.max-char-56 {
    max-width:56ch!important;
}

/* Testimonials */
.testimonials-wrapper {
    .wp-block-group {
        background-color:var(--wp--preset--color--primary);
        color:var(--wp--preset--color--white);
        p:first-of-type::before {
            display:block;
            margin-bottom:var(--wp--preset--spacing--medium-primary);
            content: url("../images/quotemark.svg");
        }
    }
}

/* Product page */
.single_variation_wrap, .wp-block-woocommerce-add-to-cart-form {
    display:flex;
    justify-content: space-between;
    gap:var(--wp--preset--spacing--small-primary);
    width:100%;
    .woocommerce-variation {
        display:flex;
        justify-content: flex-start;
        gap:var(--wp--preset--spacing--small-primary);
        margin-bottom:0!important;
    }
    .woocommerce-variation-description {
        display:none;
    }
}
.woocommerce-variation-price, .woocommerce-variation-availability, .price-wrapper {
    background-color:var(--wp--preset--color--light-grey);
    display:flex;
    justify-content: center;
    align-items:center;
    font-weight:600;
    padding:6px 22px;
    border-radius:20px;
    p, span {
        margin:0;
    }
}
.stock:not(.woocommerce-variation-availability>.stock) {
    background-color:var(--wp--preset--color--light-grey);
    display:flex;
    justify-content: center;
    align-items:center;
    font-weight:600;
    padding:6px 22px;
    border-radius:20px;
    p, span {
        margin:0;
    }
}
.woocommerce .product .stock, .woocommerce .product .sku-wrapper {
    font-size:initial;
    margin:0!important;
}

.wp-block-woocommerce-add-to-cart-form .variations_button>:not(.quantity),.wp-block-woocommerce-add-to-cart-form form.cart>:not(.quantity) {
    grid-column: 1/4;
}

.wp-block-woocommerce-add-to-cart-form {
    display:flex;
    align-items:center;
    justify-content: space-between;
    gap:var(--wp--preset--spacing--small-primary);
    p, span {
        margin:0;
    }
    .sku-wrapper {
        justify-self: flex-end;
    }
}

@media only screen and (max-width: 1000px) {
.wp-block-woocommerce-add-to-cart-form, .single_variation_wrap {
        flex-direction: column;
        align-items: flex-start;
        gap:10px;
        .woocommerce-variation {
            flex-direction: column;
            align-items: flex-start;
            gap:10px;
            form {
                display:none;
            }
        }
    }
}

.woocommerce div.product form.cart, .woocommerce div.product p.stock {
    margin-bottom:0;
}

.woocommerce div.product form.cart .variations select {
    border:0;
    color:var(--wp--preset--color--primary);
    background-color:var(--wp--preset--color--light-grey);
    padding:var(--wp--preset--spacing--tiny-primary) var(--wp--preset--spacing--medium-primary) var(--wp--preset--spacing--tiny-primary) var(--wp--preset--spacing--small-tertiary);
    border-radius:20px;
}

.woocommerce .sku-wrapper {
    align-self:flex-start;
    display:flex;
    justify-content: center;
    align-items:center;
    padding:var(--wp--preset--spacing--tiny-primary) 0;
    p {
        margin:0;
    }
}

.woocommerce div.product form.variations_form {
    margin-bottom: 0;
    width:100%;
}

@media only screen and (max-width: 1000px) {
.woocommerce .variations {
    th, td {
        display:block;
        padding-bottom:0!important;
    }
}
}

/* Product page images */
.woocommerce-product-gallery__image, .woocommerce div.product div.images img {
    border-radius: 20px;
}

.woocommerce .wp-block-woocommerce-product-image-gallery {
    max-width:unset;
}
.flex-control-thumbs li img {
    border-radius: 20px;
}
.woocommerce div.product div.images .woocommerce-product-gallery__trigger {
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(20px);
    z-index:9;
    border-radius:4px;
    padding:8px;
    width:24px;
    height:24px;
    content:url("../images/expand.svg");
    &::before, &::after {
        display:none;
    }
}
.woocommerce div.product div.images .flex-control-thumbs li {
    margin:0!important;
}
.flex-control-nav.flex-control-thumbs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: var(--wp--preset--spacing--small-primary);
    grid-row-gap: var(--wp--preset--spacing--small-primary);
    margin-top: var(--wp--preset--spacing--small-primary)!important;
    li {
        width:100%!important;
        float:unset!important;
        margin:0!important;
        
    }
}


/* Tabs */
.woocommerce-tabs {
    .wc-tabs {
        li {
            opacity:1!important;
            border:unset!important;
            a {
                font-weight:400!important;
                background-color:var(--wp--preset--color--light-grey);
                color:var(--wp--preset--color--primary);
                border-top-left-radius: var(--wp--preset--spacing--small-tertiary)!important;
                border-top-right-radius: var(--wp--preset--spacing--small-tertiary)!important;
                padding-inline:var(--wp--preset--spacing--medium-primary)!important;
                &:hover {
                    background-color:var(--wp--preset--color--secondary)!important;
                }
            }    
        }
        li.active {       
            a {
                color:var(--wp--preset--color--white)!important;
                background-color:var(--wp--preset--color--primary)!important;
                border-top-left-radius: var(--wp--preset--spacing--small-tertiary)!important;
                border-top-right-radius: var(--wp--preset--spacing--small-tertiary)!important;
            }
        }
        @media only screen and (max-width: 770px) {
            li, li.active {
                margin-bottom:var(--wp--preset--spacing--small-primary)!important;
                a {
                    border-radius:var(--wp--preset--spacing--small-tertiary)!important;
                }
            }
        }
    }
    .entry-content {
        margin-top:var(--wp--preset--spacing--small-tertiary)!important;
    }
    h2 {
        font-size:22px;
        margin:var(--wp--preset--spacing--small-tertiary) 0!important;
    }
    .wp-block-heading, p, ul {
        margin-bottom:var(--wp--preset--spacing--small-tertiary)!important;
        max-width:80ch;
    }
}

/* Product image */
.size-woocommerce_thumbnail {
    aspect-ratio: 1/1;
}

/* Social icons */
.wp-block-social-links {
    .wp-block-social-link-anchor svg {
        width:30px;
        height:30px;
    }
}

/* Product listings */
.wc-block-product-template__responsive, .wp-container-core-post-template-is-layout-1 {
    grid-template-columns: repeat(3, 1fr)!important;
    grid-column-gap: 50px!important;
    grid-row-gap: 60px!important;
    @media only screen and (max-width: 1000px) {
        grid-template-columns: repeat(2, 1fr)!important;
        grid-column-gap: 30px!important;
        grid-row-gap: 40px!important;
        .is-layout-flex {
            flex-direction: column;
            /* gap:var(--wp--preset--spacing--small-tertiary); */
            align-items: flex-start;
        }
    
    }
    @media only screen and (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr)!important;
    }
}

.wc-block-product, .wp-block-post {
    .wc-block-components-product-image {
        display:block;
    }
    /* .wp-block-group {

    } */
    .wp-block-woocommerce-product-summary {
        margin-top:0;
    }
    p {
        margin:var(--wp--preset--spacing--small-primary) 0 var(--wp--preset--spacing--small-primary) 0;
        
    }
    :where(.is-layout-flex) {
        gap:var(--wp--preset--spacing--small-tertiary)!important;
    }
}

.archive .wc-block-product-template__responsive {
    margin-bottom:var(--wp--preset--spacing--medium-tertiary)!important;
}

/* Post page */
.single-post .wp-block-post-featured-image {
    max-width:40vw;
    @media only screen and (max-width: 782px) {
        max-width:unset;
    }
}

/* Insights panel for mobile */
@media only screen and (max-width: 784px) {
.insights-panel {
    .gspbgrid_item {
        .wp-block-columns {
            gap:var(--wp--preset--spacing--small-primary)!important;
            .wp-block-column {
                width:unset!important;
                flex-basis:0!important;
            }
        }
    }
}
}